/* ProcessLoginHistory */

form#filters {
    font-size: 1em;
    position: relative;
    border-radius: 5px;
    background: #e9eff1;
    border: 1px solid #dbe3e5;
    padding: 1.2em 1em 1.4em 1em;
}

form#filters select {
    border: 1px solid #dbe3e5;
    border-radius: 3px;
    padding: 5px;
}

form#filters select.disabled {
    opacity: 0.5;
}

ul.MarkupPagerNavCustom li a {
    margin-right: 3px;
}

#translations {
    display: none;
}

table.login-history em {
    color: #bbb;
}

table.login-history b {
    font-size: 0.65em;
}

table.login-history tr.open td {
    border-bottom: 0;
}

table.login-history tr.more td {
    border: 0;
}

table.login-history tr.more div {
    color: #6195ba;
    font-size: 0.85em;
    border-radius: 5px;
    border: 1px solid #dbe3e5;
    padding: 8px 10px 14px 55px;
    text-shadow: 1px 1px 0 #f1f8fa;
    background: url('img/desktop.png') 10px 10px no-repeat #e9eff1;
}

table.login-history tr#device-type td:first-letter {
    text-transform: uppercase;
}

table.login-history tr.more.mobile-device div {
    background-image: url('img/mobile.png');
}

table.login-history tr.more.tablet-device div {
    background-image: url('img/tablet.png');
}

table.login-history tr.more table {
    margin: 0;
}

table.login-history tr.more table th,
table.login-history tr.more table td {
    padding-right: 20px;
    border-bottom: 0;
    font-size: 1em;
}

table.login-history tr.more table th:hover {
    color: #777 !important;
    text-decoration: none;
    cursor: auto;
}

table.login-history a.remove {
    visibility: hidden;
}

table.login-history tr:hover a.remove {
    visibility: visible;
    opacity: 0.33;
}

table.login-history tr.open a.remove,
table.login-history tr a.remove:hover {
    visibility: visible;
    opacity: 1;
}

table.login-history span {
    display: none;
}

/* ProcessUser */

div.user-login-history {
    font-size: 1em;
    position: relative;
    border-radius: 5px;
    background: #e9eff1;
    border: 1px solid #dbe3e5;
    padding: 1.2em 1em 1.4em 1em;
}

div.user-login-history li {
    list-style-type: disc;
    margin: 0.5em 0 0 2em;
    display: list-item;
}

div.user-login-history em {
    opacity: 0.5;
    font-size: 0.9em;
    padding-left: 0.5em;
}

div.user-login-history p {
    margin: 1em 0 0 1em;
}